	
	/* BASIC CONTENT */
* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0 auto;
	font-family: Georgia, serif;
	background: #dcdddf;
    -webkit-text-size-adjust: 100%;

}
	.page-wrap{
		margin: 0 auto;
		width: 80%;
	}
a:link, a:visited, a:hover, a:active{
	color: blue;
}
p {
	padding: 5px;
}




	/* HEADER LOGO */
.div-header {
	width: 100%;
	height: 125px;
	background: white;
}

.header {
	margin: 0 auto;
	width: 500px;
	height: 125px;
}
	
img.header-logo {
	display: block;
}





	/* NAV */
nav {
	margin: 0 0 25px 0;
	text-align: center; 
	background: #0091ce;
	z-index: 700;
}
	nav a:link, nav a:visited {
		color: white;
		text-decoration: none;
	}
	nav a:hover, nav a:active {
		color: white;
		background-color: none;
		text-decoration: none;
	}
	nav ul ul {
		display: none;
	}
	nav ul li:hover > ul {
		display: block;
		z-index: 700;
	}
	nav ul {
		background: #0091ce; 
		border-radius: 8px;  
		list-style: none;
		position: relative;
		display: inline-table;
		font-weight: bold;
		z-index: 700;
	}
	nav ul:after {
		content: ""; clear: both; display: inherit;
	}
	nav ul li {
		float: left;
	}
		nav ul li:hover {
			background: #4b545f;
			background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
		}
			nav ul li:hover a {
				color: #fff;
			}
	nav ul li a {
		display: block; 
		padding: 20px 40px;
		color: white; 
		text-decoration: none;
	}
	nav ul ul {
		background: #5f6975; 
		border-radius: 0px; 
		padding: 0;
		position: absolute; 
		top: 100%;
	}
	nav ul ul li {
		float: none; 
		border-top: 1px solid #6b727c;
		border-bottom: 1px solid #575f6a;
		position: relative;
	}
		nav ul ul li a {
			padding: 15px 40px;
			color: #fff;
		}	
			nav ul ul li a:hover {
				background: #4b545f;
			}
	nav ul ul ul {
		position: absolute; 
		left: 100%; 
		top:0;
	}	



	
	/* MAIN HEADER FOR EACH PAGE */
h1 {
	text-align: center;
	margin: 0 0 10px 0;
}
	h1 a:link, h1 a:visited, h1 a:hover, h1 a:active{
		color: black;
		text-decoration: none;
	}
	
	
	
	
	/* MAIN PRODUCT PAGE */
.flex-container-product-page{
	padding: 0;
	margin: 0;
	list-style: none;
	list-style-position: inside;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}	
	.flex-item-product-page{
		padding: 5px;
		width: 48%;
		height: 500px;
		text-align: center;
	}
	.flex-item-product-page-extra {
		padding: 5px;
		width: 48%;
		height: 500px;
	}
		
		.flex-item-product-page img {
			border: 1px solid black;
			width: 100%;
			max-width: 400px;
		}
		h4{
			font-size: 110%;
			padding: 0 0 10px 0;
		}
			h4 a:link, h4 a:visited, h4 a:hover, h4 a:active{
				color: black;
				text-decoration: none;
			}
		
	
	
	
	/* PRODUCT PAGES */
.product-logo{
	width: 300px;
	display: block;
	margin: 0 auto 10px auto;
}		
.flex-container {
	padding: 0;
	margin: 0;
	list-style: none;
	list-style-position: inside;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}	
	.flex-item {
		padding: 5px;
		width: 300px;
		height: 500px;
		text-align: left;
		position: relative;
	}
		.flex-item li {
			margin: 5px 0;
		}
			.product-img{
				width: 100%; 
				height: 290px;
				border: 1px solid black ;
			}
				.on-sale:before {
					content: "";
					position: absolute;
					background: url('/images/cap/on-sale-ribbon.png') no-repeat;
					width: 100px;
					height: 100px;
					top: -2px;
					right: -4px;
					z-index: 500;
				}
				.product-img img {
					height: 100%; 
					width: 100%;
				}
				.product-img-wallet{
					width: 100%;
					height: 200px;
					border: 1px solid black ;
				}
				.product-img-video-games {
					Width: 200px;
					height: 290px;
					margin: 0 auto;
					border: 1px solid black;
				}
					.product-img-video-games-ds {
						Width: 100%;
						height: 270px;
						margin: 20px auto 0px auto;
						border: 1px solid black;
					}
			.product-title{
				width: 100%; 
				height: 40px;
			}
				.product-title-wallet{
					width: 100%;
					height: 60px;
				}
				h2 {
					font-size: 110%;
					margin: 5px 0 10px 0;
				}	
			.product-bullets{
				width: 100%; 
				height: 120px;
			}
				.product-bullets-concert-shirts {
					width: 100%;
					height: 50px;
				}
			.buy-button-svg {
				width: 190px;
				height: 50px;
			}
				.svg-rect {
					fill: #0091ce;
				}
				.svg-text {
					fill: white;
				}
				.buy-button{
					width: 100%; 
					height: 50px;
				}
	.flex-item-small {
		display: none;
	}		
	.flex-item-medium {
		padding: 5px;
		width: 300px;
		height: 500px;
	}
	.flex-item-large{
		display: none;
	}


	
	
	/* NEWS HEADERS */
h3 {
	size: 100%;
	margin: 0 0 5px 0;
}	
	h5{
		size: 50%;
		color: #8C8C8C;
		padding: 0 0 0 0;
	}
.news-info {
	min-height: 170px;
}	
	.news-info p:last-of-type {
		padding: 0 0 40px 0;
	}
	.news-img {
		float: left;
		width: 100px;
		height: 100px;
		border: 1px solid black;
		margin: 1px 5px;
		background: white;
	}
		.news-img img {
			width: 100%;
			height: 100%;
		}



	/* CONTACT PAGE */
h1#contact-head {
	padding: 0 0 10px 0;
}
p#contact-p {
	padding: 0 0 30px 0;
}	
	
	
	
	
	/* FOOTER */
footer {
	background: #777777;
	text-align: center;
	margin: 10px 0 0 0;
	padding: 10px 0;
}	
	footer a:link, footer a:visited {
		color: black;
		text-decoration: none;
	}
	footer a:hover, footer a:active {
		color: white;
		text-decoration: none;
	}
	footer p {
		padding: 10px;
	}
	
	
	
	
	
	
	

	/* LARGE SCREENS */
@media (min-width: 1567px) {
	.flex-item-small {
		display: none;
	}
	
	.flex-item-large {
		display: block;
		padding: 5px;
		width: 300px;
		height: 500px;
	}

	#container {
		margin: 50px auto;
	}
}	




